@model WedstrijdSysteem.Models.MatchReportViewModel
@{
    ViewData["Title"] = "Change Match";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="UpdateTitle" asp-route-id="@ViewBag.Matchreport.Id">
                    <h4>Change a match report.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" value=@ViewBag.Matchreport.Title />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <button type="submit" class="button button-wide">Change Title</button>
                </form>

                <form asp-action="UpdateReport" asp-route-id="@ViewBag.Matchreport.Id">
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Report"></label>
                        <textarea asp-for="Report" class="form-control" style="height: 425px;" />@ViewBag.Matchreport.Report</textarea>
                        <span asp-validation-for="Report" class="text-danger"></span>
                    </div>
                    <button type="submit" class="button button-wide">Change Report</button>
                </form>
            </div>
        </div>
    </div>
</body>