@model WedstrijdSysteem.Models.SignInViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Sign in</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <section>
                    <form asp-action="SignIn">
                        <h4>Sign into your account.</h4>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button button-wide">Sign in</button>
                        </div>
                        <div class="form-group">
                            <p>
                                <a asp-action="SignUp">Register as a new user?</a>
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</body>
